{% extends "base.html" %}

{% block content %}
    <h1>Add Recipe</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="alert-warning">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=80) }}<br>
            {% for error in form.title.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>Are you sure you want to delete? This is irreversible!</p>
        <p>{{ form.submit() }}</p>
        </div>
    </form>
{% endblock %}